
/*
This stylesheet is a re-write to style_fyg*.css, which was originally written by admin@kf and xiny@kf
*/

html, body {
    overflow-y: scroll;
}

/*.fyg_colpz01bg, .fyg_colpz02bg, .fyg_colpz03bg, .fyg_colpz04bg, .fyg_colpz05bg, .fyg_colpz06bg,*/
.fyg_colpz01bg img, .fyg_colpz02bg img, .fyg_colpz03bg img, .fyg_colpz04bg img, .fyg_colpz05bg img, .fyg_colpz06bg img {
    color: #ffffff;
    mix-blend-mode: overlay;
}

.fyg_colpz01bg, .fyg_colpz02bg, .fyg_colpz03bg, .fyg_colpz04bg, .fyg_colpz05bg, .fyg_colpz06bg {
    font-size: 14px;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #000000;
    background-position: center center;
}

.fyg_colpzbg {
    text-align: right;
    color: #ffffff;
    font-weight: 900;
    background-position: center center;
    line-height: 23px;
    text-shadow: 1px 1px 1px #333333;
}

.fyg_colpz01 {
    color: #666666;
}

.fyg_colpz01bg{
    background-color: #666666;
    border-color: #666666;
}

.fyg_colpz02 {
    color: #03B8CF;
}

.fyg_colpz02bg {
    background-color: #03B8CF;
    border-color: #03B8CF;
}

.fyg_colpz03 {
    color: #38B03F;
}

.fyg_colpz03bg {
    background-color: #38B03F;
    border-color: #38B03F;
}

.fyg_colpz04 {
    color: #F1A325;
}

.fyg_colpz04bg {
    background-color: #F1A325;
    border-color: #F1A325;
}

.fyg_colpz05 {
    color: #EA644A;
}

.fyg_colpz05bg {
    background-color: #EA644A;
    border-color: #EA644A;
}

.fyg_colpz06 {
    color: #FF0066;
}

.fyg_colpz06bg {
    background-color: #FF0066;
    border-color: #FF0066;
}

.fyg_bodanger{
    border-bottom: 1px #EA644A solid;
}

.fyg_boinfo {
    border-bottom: 1px #03B8CF solid;
}

.fyg_f14, .fyg_f18, .fyg_f24 {
    font-weight: bolder;
}

.fyg_f14 {
    font-size: 14px;
}

.fyg_f18 {
    font-size: 18px;
}

.fyg_f24 {
    font-size: 24px;
}

.fyg_lh24 {
    line-height: 24px;
}

.fyg_lh30 {
    line-height: 30px;
}

.fyg_lh40 {
    line-height: 40px;
}

.fyg_lh60 {
    line-height: 60px;
}

.fyg_nw {
    white-space: nowrap;
    overflow: scroll;
    text-overflow: ellipsis;
}

.fyg_fr {
    float: right;
}

.fyg_tl {
    text-align: left;
}

.fyg_tr {
    text-align: right;
}

.fyg_tc {
    text-align: center;
}

.fyg_p0 {
    padding: 0;
}

.fyg_m0 {
    margin: 0;
}

.fyg_mp0 {
    margin: 0;
    padding: 0;
}

.fyg_mp3 {
    margin: 3px;
    padding: 3px;
}

.fyg_mp8 {
    margin: 8px;
    padding: 8px;
}

.fyg_pvedt {
    line-height: 5px;
    height: 5px;
}

.fyg_xlxxprimary, .fyg_xlxxinfo, .fyg_xlxxinfo, .fyg_xlxxsuccess, .fyg_xlxxdanger {
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.fyg_xlxxprimary {
    color: #3280fc;
    border-bottom: 2px solid #3280fc;
}

.fyg_xlxxinfo {
    color: #03B8CF;
    border-bottom: 2px solid #03B8CF;
    margin-bottom: 10px;
}

.fyg_xlxxsuccess {
    color: #38B03F;
    border-bottom: 2px solid #38B03F;
}

.fyg_xlxxwarning {
    color: #F1A325;
    border-bottom: 2px solid #F1A325;
}

.fyg_xlxxdanger {
    color: #EA644A;
    border-bottom: 2px solid #EA644A;
}

.nav > li > a:hover,
.nav > li > a:focus {
    color: #FF9999;
    border-bottom-color: #FF9999;
    text-decoration: none;
    background-color: #FFEEEE;
}

.nav-secondary > li > a {
    color: #666666;border-bottom: 2px solid #e5e5e5;
}

.nav-secondary > li.active > a,
.nav-secondary > li.active > a:hover,
.nav-secondary > li.active > a:focus {
    color: #FF3333;
    border-bottom-color: #FF3333;
}

.navbar-nav > li > a {
    line-height: 30px;
}

.dropdown-menu > li > a {
    line-height: 30px;
}

.popover {
    min-width: 200px;
}

/**/

details > summary { 
    display: list-item; list-style-type: '►';
}

details[open] > summary {
    list-style-type: '▼';
}

.btn.fyg_mp3 {
    width: 50px !important;
    height: 50px !important;
    line-height: 30px;
    background-size: 100% 100%;
}

.btn.fyg_tr.fyg_mp3 {
    width: 263px !important;
    height: 40px !important;
}

.btn.fyg_tl.fyg_mp3 {
    width: 263px !important;
    height: 40px !important;
}

.btn.fyg_tc.fyg_mp3{
    width: 536px !important;
    height: 40px !important;
}

.btn.fyg_colpzbg.fyg_mp3 {
    width: 50px !important;
    height: 50px !important;
    background-size: 100% 100%;
}

.img-rounded {
    width: 50px;
    height: 50px;
}

.btn.fyg_colpzbg.fyg_tc {
    width: 60px !important;
    height: 100px !important;
    line-height: 25px;
}

#smallcardimg {
    height: 50px;
    width: 50px;
}

.tool {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    cursor: default;
}

.tool > span {
    white-space: nowrap;
}

input[type="number"] {
    text-align: right;
}

/*
Cards
*/

.fygemu_cl, .fygemu_cr {
    background-color: #FFFFFF;
}

.fygemu_cl {
    float: left;
    border: 1px solid #EA644A;
}

.fygemu_cr {
    float: right;
    border: 1px solid #03B8CF;
}

.fygemu_cc {
    width: 100%;
    height: 100%;
    background-color: #FCFCFC;
    border: 1px solid;
    margin: inherit;
}
