<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>咕咕镇Wiki</title>
<meta property="og:title" content="咕咕镇Wiki" />
<meta property="og:locale" content="en_US" />
<meta name="description" content="网页游戏 咕咕镇Wiki" />
<meta property="og:description" content="网页游戏 咕咕镇Wiki" />
<meta property="og:site_name" content="咕咕镇Wiki" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="咕咕镇Wiki" />
<link rel="stylesheet" href="/Wiki/assets/css/style.css?v=464b9b6f7735fa89b03121dc76761fffb68aa1e1">
<link rel="shortcut icon" href="/Wiki/favicon.ico">
<script type="application/ld+json">
{"@context":"https://schema.org","@type":"WebPage","description":"咕咕镇Wiki","headline":"咕咕镇Wiki","url": window.location.href }</script>
<script>
    let title= window.location.pathname;title=UrlDecode(title);
    title=title.replace(/Wiki/g,"咕咕镇Wiki").replace(/equip/g,"装备").replace(/char/g,"角色").replace(/article/g,"文章").replace(/.html/g,"》").replace(/\//g," 》");
    document.title = title;
    function UrlDecode(zipStr){ 
      var uzipStr = ''; 
      for (var i = 0; i < zipStr.length; i += 1) {
        var chr = zipStr.charAt(i); 
        if (chr === '+') { uzipStr += ' '; } 
        else if (chr === '%') { 
          var asc = zipStr.substring(i + 1, i + 3); 
          if (parseInt('0x' + asc) > 0x7f) { uzipStr += decodeURI('%' + asc.toString() + zipStr.substring(i+3, i+9).toString()); i += 8; }
          else{ uzipStr += AsciiToString(parseInt('0x' + asc)); i += 2; }
        }
        else{ uzipStr += chr; } 
    } 
  return uzipStr; 
} 
</script>
</head>
    <body>
        <div class="container-lg px-3 my-5 markdown-body">
            <h1><a href="https://gugutown.github.io/Wiki/">咕咕镇Wiki</a></h1>
            {{ content }}
            <h2 id="讨论">讨论</h2>
            <script  src="https://utteranc.es/client.js" repo="GuguTown/Discuss" issue-term="pathname" theme="github-light" crossorigin="anonymous" async></script>
        </div>
    </body>
</html>
